::ng-deep .cdk-overlay-container {
  z-index: 2000;
}

.modal-header {
  background-color: #5fce99;
}

.modal-title {
  color: white;
}

.modal-body {
  padding: 1rem 2rem 0 2rem;
}

.form {
  padding-bottom: 0;
}

.form-section {
  margin-bottom: 1.5rem;
  color: darkgrey;
  margin-top: 1.5rem;
}

.footer {
  padding-bottom: 2.5rem;
  text-align: center;
}

.btn-add-volunteer {
  color: #5fce99 !important;
  border-color: #5fce99 !important;
}

.btn-add-volunteer:hover {
  background-color: #5fce99 !important;
  color: white !important;
}

.close:focus {
  outline: none;
}

.btn-add:focus {
  outline: none;
}

.btn-add {
  color: #5fce99;
  transform: scale(1.5);
  margin-left: -50px;
}

hr {
  display: block;
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
}

mat-icon {
  font-size: 30px;
}

.modal-dialog {
  vertical-align:middle;
}