<ng-template #content let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title w-100" id="modal-basic-title">
      Create New Volunteer
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="myForm">
      <div class="form-row mb-12">
        <h5 class="form-section">Personal Information</h5>
      </div>
      <div class="form-row mb-12">
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="First Name"
              formControlName="first_name"
            />
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Last Name"
              formControlName="last_name"
            />
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label> Birth Date </mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [max]="today"
              placeholder="mm/dd/yyyy"
              formControlName="dob"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
      </div>
      <hr />
      <div class="form-row mb-12">
        <h5 class="form-section">Contact Information</h5>
      </div>
      <div class="form-row mb-12">
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Street Number"
              formControlName="address_number"
            />
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Street Name"
              formControlName="address_street"
            />
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="City"
              formControlName="address_city"
            />
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row mb-12">
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Postal Code"
              formControlName="address_postal_code"
            />
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              email="true"
              type="email"
              placeholder="Email"
              formControlName="email"
            />
            <mat-error>Email required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Phone Number"
              formControlName="phone_number"
            />
            <mat-error>Must be 10 characters and digits only!</mat-error>
          </mat-form-field>
        </div>
      </div>
      <hr />
      <div class="form-row mb-12">
        <h5 class="form-section">Emergency Contact Information (Optional)</h5>
      </div>
      <div class="form-row mb-12">
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Contact Name"
              formControlName="emergency_contact_name"
            />
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Contact Relationship"
              formControlName="emergency_relationship"
            />
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Contact Number"
              formControlName="emergency_contact_number"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <button
      type="submit"
      class="btn btn-xl btn-outline-primary btn-add-volunteer"
      (click)="onSubmit()"
    >
      Create Volunteer
    </button>
  </div>
</ng-template>

<ng-template #newUserError let-modal2>
  <div class="modal-header text-center" style="background-color: #dc3545">
    <h4 class="modal-title w-100" id="modal-basic-title">Error!</h4>
    <button
      type="button"
      class="close"
      style="outline: none"
      aria-label="Close"
      (click)="modal2.dismiss()"
      #closeModal
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>
      {{ errorMsg }}
    </h5>
  </div>
  <div class="footer">
    <button
      class="btn btn-xl btn-outline-danger btn-cancel"
      (click)="modal2.dismiss()"
    >
      Dismiss
    </button>
  </div>
</ng-template>

<button
  class="btn-add"
  mat-icon-button
  onclick="this.blur()"
  matTooltip="Click to add new volunteer"
  (click)="open(content)"
>
  <mat-icon>person_add</mat-icon>
</button>
