<div class="pastWeeks">
  <div class="page-title">
    <h1>Previous Shifts</h1>
  </div>
  <div class="modal-body">
    <!-- Search container with name, shift type, and date filters-->
    <div class="container-search">
      <mat-form-field class="volunteer-search">
        <input
          [(ngModel)]="nameInput"
          matInput
          (keyup)="applyFilter()"
          placeholder="Search by Name"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field style="margin-left: 50px">
        <mat-label>Filter by Shift Type</mat-label>
        <mat-select
          [(ngModel)]="currentShiftType"
          (selectionChange)="applyShift($event.value)"
        >
          <mat-option disabled>--Shift type--</mat-option>
          <mat-option [value]="'all'"> All </mat-option>
          <mat-option [value]="'kitam'"> Kitchen AM </mat-option>
          <mat-option [value]="'kitpm'"> Kitchen PM </mat-option>
          <mat-option [value]="'deldr'"> Delivery Driver </mat-option>
          <mat-option [value]="'deliv'"> Delivery </mat-option>
        </mat-select>
        <mat-error>Required!</mat-error>
      </mat-form-field>
      <mat-form-field style="margin-left: 50px">
        <mat-label>Date</mat-label>
        <input
          matInput
          [(ngModel)]="dateField"
          [matDatepickerFilter]="sundayDatesFilter"
          [matDatepicker]="picker"
          [max]="today"
          placeholder="mm/dd/yyyy"
          (dateChange)="applyDate($event.value)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker style="outline: none" #picker></mat-datepicker>
      </mat-form-field>
      <button
        style="outline: none"
        class="btn-reset-filters"
        (click)="resetFilters()"
      >
        Reset
      </button>
    </div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Volunteer">
        <mat-header-cell *matHeaderCellDef>Volunteer</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.first_name }} {{ element.last_name }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="Shift Type">
        <mat-header-cell *matHeaderCellDef>Shift Type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          formatShiftType(element.event_type)
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Shift Date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.event_date_txt
        }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      #paginator
      id="paginator"
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons
    ></mat-paginator>
    <div style="height: 80px;">
      <!-- Empty div for footer space -->
    </div>
    <app-copyright-footer></app-copyright-footer>
  </div>
</div>
