.pastWeeks{
  height: 100%;
  overflow-y: auto;
}

.page-title {
  padding-top: 1rem;
  padding-bottom: 0;
}

.page-title h1 {
  padding:0.5rem;
  text-align: center;
  color: #60A4FF;
}

.mat-select-panel {
  max-height: 300px !important;
}

::ng-deep .mat-select-panel {
  max-height: 300px !important;
}

.btn-reset-filters{
  border-radius: 5px;
  margin-left: 30px;
  height: 30px;
  width: 80px;
  font-size: 14px;
	color: #dc3545 !important;
  border-color: #dc3545;
	background-color: white !important;
}

.btn-reset-filters:hover{
  color: white !important;
  background-color: #dc3545 !important;
}

// :host::ng-deep app-copyright-footer .copyrightFooter {
//   margin-top: -70px;
// }