 ::ng-deep .PermanentVolModal .modal-dialog {
   max-width: 60% !important;
   width: 60% !important;
 }

::ng-deep .removePermVol .modal-dialog {
  max-width: 600px !important;
  width: 600px !important;
}


.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}

.fa {
  padding-right: 0.5rem;
}


.modal-header{
  background-color: #5fce99;
}

.modal-title{
  color: white;
}

.modal-body{
  padding: 1rem 2rem 0 2rem;
  padding-top:2rem;
   padding-bottom:2rem;
  width: 100%;

}

.permVolDir{
   overflow-y: auto;
    height: 100%;
}

.end-soon{
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: rgb(255, 157, 157);
  }
}

.remove-perm-vol {
  border-radius: 5px;
}

#cancel {
  border: transparent !important;
}
