::ng-deep .permanent-volunteer-directory .modal-dialog {
     max-width: 70% !important;
     width: 70% !important;
}

::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { 
  z-index: 9999!important; 
  } 
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}
.fa {
  padding-right: 0.5rem;
}


.modal-header{
  background-color: #5fce99;
}

.modal-title{
  color: white;
}


.modal-body{
  padding: 1rem 2rem 0 2rem;
  padding-top:2rem;
  padding-bottom:2rem;
}

.permVolDir{
  overflow-y: auto;
  height: 70vh;
}

.end-soon{
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: rgb(238, 177, 177);
    
  }
}