<ng-template #PermanentVolModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title w-100">
      <i class="fa fa-map-marker"></i>Permanent Volunteer Directory
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
      #closeModal
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="permVolDir">
    <div class="modal-body">
      <!-- Search container -->
      <div class="container-search">
        <mat-form-field class="volunteer-search">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Volunteer">
          <mat-header-cell *matHeaderCellDef>Volunteer</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.first_name }} {{ element.last_name }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="Event Type">
          <mat-header-cell *matHeaderCellDef>Shift Type</mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            formatEventType(element.event_type)
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Frequency">
          <mat-header-cell *matHeaderCellDef>Frequency</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ formatFrequency(element.frequency) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Event Start Date">
          <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            formatEventDate(element.start_date)
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Event End Date">
          <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ formatEventDate(element.end_date) }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
</ng-template>

<button mat-menu-item (click)="open(PermanentVolModal)">
  <mat-icon>date_range</mat-icon>
  <span>Permanent Volunteer Directory</span>
</button>
