<ng-template #PermanentVolModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title w-100">
      <i class="fa fa-map-marker"></i>Permanent Volunteer Directory
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
      #closeModal
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="permVolDir">
    <div class="modal-body">
      <!-- Search container -->
      <div class="container-search">
        <mat-form-field class="volunteer-search">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <ng-container matColumnDef="Volunteer">
          <mat-header-cell *matHeaderCellDef>Volunteer</mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            [class.end-soon]="endSoon(element.end_date)"
            >{{ element.first_name }} {{ element.last_name }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="Shift Type">
          <mat-header-cell *matHeaderCellDef>Shift Type</mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            [class.end-soon]="endSoon(element.end_date)"
            >{{ formatShiftType(element.event_type) }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="Frequency">
          <mat-header-cell *matHeaderCellDef>Frequency</mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            [class.end-soon]="endSoon(element.end_date)"
            >{{ formatFrequency(element.frequency) }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="Shift Start Date">
          <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            [class.end-soon]="endSoon(element.end_date)"
            >{{ formatShiftDate(element.start_date) }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="Shift End Date">
          <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            [class.end-soon]="endSoon(element.end_date)"
            >{{ formatShiftDate(element.end_date) }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Remove">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell style="justify-content: center" *matCellDef="let element">
            <button
              class="btn-outline-danger remove-perm-vol"
              (click)="setVolunteer(element); open(removePermVol, 'removePermVol')"
            >
              Remove
            </button>
          </mat-cell>
        </ng-container>
      </mat-table>
    </div>
  </div>
</ng-template>

<button mat-menu-item (click)="open(PermanentVolModal, 'PermanentVolModal')">
  <mat-icon>date_range</mat-icon>
  <span>Permanent Volunteer Directory</span>
</button>

<ng-template #removePermVol let-modalWarning>
  <div class="modal-header text-center" style="background-color: #dc3545">
    <h4 class="modal-title w-100" id="modal-basic-title">Warning!</h4>
    <button
      type="button"
      class="close"
      style="outline: none"
      aria-label="Close"
      (click)="modalWarning.dismiss()"
      #closeModal
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>
      You are about to remove the permanent volunteer, <b>{{volunteerToRemove}}</b>, and will be removed from all associated shifts. <b>This action can't be
        undone!</b>
    </span>
  </div>
  <div class="footer">
    <button
      class="btn btn-xl btn-cancel"
      (click)="modalWarning.dismiss()"
      id="cancel"
    >
      Cancel
    </button>
    <button
      class="btn btn-xl btn-outline-danger"
      (click)="removePermVolunteer(shift); modalWarning.dismiss()"
    >
      Confirm
    </button>
  </div>
</ng-template>
