<ng-template #content let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title w-100" id="modal-basic-title">
      Delete Volunteer
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div class="footer">
      <button
        type="submit"
        class="btn btn-xl btn-outline-primary btn-add-volunteer"
        (click)="onSubmit()"
      >
        Delete All Volunteers
      </button>
    </div>
  </div>
</ng-template>


<button
  class="btn-delete"
  mat-icon-button
  onclick="this.blur()"
  matTooltip="Click to delete a volunteer"
  (click)="open(content)"
>
  <mat-icon>person_add</mat-icon>
</button>