<mat-toolbar [hidden]="!show" color="primary" style="display:flex; background-color: #449afe">
  <button class="menu-btn" #r="matMenuTrigger" mat-icon-button [matMenuTriggerFor]="menu" >
    <mat-icon (onClick)="open(r)">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <app-change-registration-code></app-change-registration-code>
    <app-bug-report></app-bug-report>
    <app-permanent-volunteer></app-permanent-volunteer>
    <!-- <app-week-generator></app-week-generator> -->
    <app-permanent-volunteer-directory></app-permanent-volunteer-directory>
  </mat-menu>
  <div style="padding-left:0.5rem"> Santropol Roulant </div>
  <div style="margin-left:auto;">
      <a style="padding-right:1rem" routerLink="/past-week"> <span> Past Weeks </span></a>
      <a style="padding-right:1rem" routerLink="/volunteer-schedule"> <span> Schedule </span></a>
      <a style="padding-right:1rem" routerLink="/volunteer-directory"><span> Directory </span> </a>
      <a style="padding-right:1rem" routerLink="/volunteer-account"><span> Account </span> </a>
      <app-notifications></app-notifications>
  </div>
</mat-toolbar>
