<html>
  <div id="loaderBackground">
    <div class="loader" id="spinner"></div>
  </div>
  <button (click)="test()">Test Button Output</button>
  <div class="container-fluid" style="padding: 0">
    <div class="row" style="padding-top: 2rem; padding-bottom: 1rem">
      <div class="col" id="header" style="text-align: center">
        <img src="../../../assets/santropol-logo.png" alt="" id="logoSantrR" />
        <h1 class="header-text">Schedule</h1>
        <img src="../../../assets/McGillFACLogo.png" alt="" id="logoMcGill" />
      </div>
    </div>
    <div class="row weekTitle">
      <div class="col">
        <div
          class="card"
          style="margin-top: -16px; border-color: #60a4ff; border-radius: 0"
        >
          <div class="card-header" style="border-radius: 0; border: none">
            <div class="row">
              <div class="col-8" style="text-align: center">
                <button
                  matTooltip="Go to first week"
                  class="btn first-last"
                  (click)="firstWeek()"
                  onclick="this.blur()"
                  *ngIf="currentWeek != 'first'"
                >
                  <mat-icon>first_page</mat-icon>
                </button>
                <button
                  matTooltip="Go to previous week"
                  class="btn next-prev"
                  (click)="prevWeek()"
                  onclick="this.blur()"
                  *ngIf="currentWeek != 'first'"
                >
                  <mat-icon id="arrow-back">arrow_back_ios</mat-icon>
                </button>
                <span style="position: relative; top: 2px;">{{ getWeekTitle() }}</span>
                <button
                  matTooltip="Go to next week"
                  class="btn next-prev"
                  (click)="nextWeek()"
                  onclick="this.blur()"
                  *ngIf="currentWeek != 'fifth'"
                >
                  <mat-icon>arrow_forward_ios</mat-icon>
                </button>
                <button
                  matTooltip="Go to last week"
                  class="btn first-last"
                  (click)="lastWeek()"
                  onclick="this.blur()"
                  *ngIf="currentWeek != 'fifth'"
                >
                  <mat-icon id="first-last-icon">last_page</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shiftHeaders">
      <div style="display: flex; text-align: center">
        <div *ngFor="let day of getEventList(currentEvent) | keyvalue">
          <div class="cardTitle">
            <span>
              {{ day.value.display_date | date: "EEEE, MMM d" }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <app-slider [activePane]="currentWeek">
        <!-- First Week Pane -->
        <div firstPane>
          <div class="row" id="eventRow" *ngFor="let coolEvent of eventArray">
            <h3 id="eventTitle">
              {{ coolEvent }}
            </h3>
            <div
              class="row-2"
              *ngFor="
                let day of getEventList(coolEvent) | keyvalue;
                let i = index
              "
              style="padding-bottom: 2rem"
            >
              <div
                class="card"
                [class.eventCardImportant]="day.value.is_important_event"
              >
                <div class="card-body">
                  <app-event-sign-up-table
                    [slots]="day.value.slots"
                    [id]="day.value.slots[0].id"
                    [eventType]="coolEvent"
                    [volunteerList]="volunteerList"
                    (removeUserFromEvent)="removeUserFromEvent($event)"
                    (insertStaffNote)="insertStaffNote($event)"
                  >
                  </app-event-sign-up-table>
                </div>
                <div class="card-footer" *ngIf="day.value.slots[0].id != 'N/A'">
                  <img
                    class="img-important-event-true"
                    *ngIf="
                      day.value.is_important_event;
                      else importantEventFalse
                    "
                    src="assets/important-event-true.png"
                    width="30px"
                    style="margin-right: 1rem"
                    (click)="changeEventImportance(day.key, coolEvent)"
                    matTooltip="Click to mark this event as unimportant"
                  />
                  <ng-template #importantEventFalse>
                    <img
                      class="img-important-event-false"
                      src="assets/important-event-false.png"
                      width="30px"
                      style="margin-right: 1rem"
                      (click)="changeEventImportance(day.key, coolEvent)"
                      matTooltip="Click to mark this event as important"
                    />
                  </ng-template>
                  <app-event-note
                    date="{{ day.value.slots[0].event_date_txt }}"
                    [eventType]="coolEvent"
                    eventNote="{{ day.value.slots[0].event_note }}"
                    (updateEventNote)="
                      updateEventNote(day.value.slots[0].id, $event)
                    "
                    matTooltip="Click to view & edit the event note"
                  >
                  </app-event-note>
                  <mat-icon
                    id="shiftNote"
                    *ngIf="
                      day.value.slots[0].event_note != null &&
                      day.value.slots[0].event_note.length > 0
                    "
                    >announcement
                  </mat-icon>
                  <button class="ml-3 btn-outline-secondary" (click)="openSlotConfirmation(addSlot, 'addSlot', day.value.slots[0])">Add Slot</button>
                  <app-add-user-to-event></app-add-user-to-event>
                </div>
              </div>
              <div *ngIf="coolEvent == 'Delivery'" style="height: 80px">
                <!-- empty div block used to add bottom padding extend to the schedule view, only used in last event type "Delivery" -->
              </div>
            </div>
          </div>
        </div>

        <!-- Second Week Pane -->
        <div secondPane>
          <div class="row" id="eventRow" *ngFor="let coolEvent of eventArray">
            <h3 id="eventTitle">
              {{ coolEvent }}
            </h3>
            <div
              class="row-2"
              *ngFor="
                let day of getEventList(coolEvent) | keyvalue;
                let i = index
              "
              style="padding-bottom: 2rem; font-size: 15px"
            >
              <div
                class="card"
                [class.eventCardImportant]="day.value.is_important_event"
              >
                <div class="card-body">
                  <app-event-sign-up-table
                    [slots]="day.value.slots"
                    [id]="day.value.slots[0].id"
                    [eventType]="coolEvent"
                    [volunteerList]="volunteerList"
                    (removeUserFromEvent)="removeUserFromEvent($event)"
                    (insertStaffNote)="insertStaffNote($event)"
                  >
                  </app-event-sign-up-table>
                </div>
                <div class="card-footer" *ngIf="day.value.slots[0].id != 'N/A'">
                  <img
                    class="img-important-event-true"
                    *ngIf="
                      day.value.is_important_event;
                      else importantEventFalse
                    "
                    src="assets/important-event-true.png"
                    width="30px"
                    style="margin-right: 1rem"
                    (click)="changeEventImportance(day.key, coolEvent)"
                    matTooltip="Click to mark this event as unimportant"
                  />
                  <ng-template #importantEventFalse>
                    <img
                      class="img-important-event-false"
                      src="assets/important-event-false.png"
                      width="30px"
                      style="margin-right: 1rem"
                      (click)="changeEventImportance(day.key, coolEvent)"
                      matTooltip="Click to mark this event as important"
                    />
                  </ng-template>

                  <app-event-note
                    date="{{ day.value.slots[0].event_date_txt }}"
                    [eventType]="coolEvent"
                    eventNote="{{ day.value.slots[0].event_note }}"
                    (updateEventNote)="
                      updateEventNote(day.value.slots[0].id, $event)
                    "
                    matTooltip="Click to view & edit the event note"
                  >
                  </app-event-note>
                  <mat-icon
                    id="shiftNote"
                    *ngIf="
                      day.value.slots[0].event_note != null &&
                      day.value.slots[0].event_note.length > 0
                    "
                    >announcement
                  </mat-icon>
                  <button class="ml-3 btn-outline-secondary" (click)="openSlotConfirmation(addSlot, 'addSlot', day.value.slots[0])">Add Slot</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Third Week Pane -->
        <div thirdPane>
          <div class="row" id="eventRow" *ngFor="let coolEvent of eventArray">
            <h3 id="eventTitle">
              {{ coolEvent }}
            </h3>
            <div
              class="row-2"
              *ngFor="
                let day of getEventList(coolEvent) | keyvalue;
                let i = index
              "
              style="padding-bottom: 2rem"
            >
              <div
                class="card"
                [class.eventCardImportant]="day.value.is_important_event"
              >
                <div class="card-body">
                  <app-event-sign-up-table
                    [slots]="day.value.slots"
                    [id]="day.value.slots[0].id"
                    [eventType]="coolEvent"
                    [volunteerList]="volunteerList"
                    (removeUserFromEvent)="removeUserFromEvent($event)"
                    (insertStaffNote)="insertStaffNote($event)"
                  >
                  </app-event-sign-up-table>
                </div>
                <div class="card-footer" *ngIf="day.value.slots[0].id != 'N/A'">
                  <img
                    class="img-important-event-true"
                    *ngIf="
                      day.value.is_important_event;
                      else importantEventFalse
                    "
                    src="assets/important-event-true.png"
                    width="30px"
                    style="margin-right: 1rem"
                    (click)="changeEventImportance(day.key, coolEvent)"
                    matTooltip="Click to mark this event as unimportant"
                  />
                  <ng-template #importantEventFalse>
                    <img
                      class="img-important-event-false"
                      src="assets/important-event-false.png"
                      width="30px"
                      style="margin-right: 1rem"
                      (click)="changeEventImportance(day.key, coolEvent)"
                      matTooltip="Click to mark this event as important"
                    />
                  </ng-template>
                  <app-event-note
                    date="{{ day.value.slots[0].event_date_txt }}"
                    [eventType]="coolEvent"
                    eventNote="{{ day.value.slots[0].event_note }}"
                    (updateEventNote)="
                      updateEventNote(day.value.slots[0].id, $event)
                    "
                    matTooltip="Click to view & edit the event note"
                  >
                  </app-event-note>
                  <mat-icon
                    id="shiftNote"
                    *ngIf="
                      day.value.slots[0].event_note != null &&
                      day.value.slots[0].event_note.length > 0
                    "
                    >announcement
                  </mat-icon>
                  <button class="ml-3 btn-outline-secondary" (click)="openSlotConfirmation(addSlot, 'addSlot', day.value.slots[0])">Add Slot</button>
                  <app-add-user-to-event></app-add-user-to-event>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Fourth Week Pane -->
        <div fourthPane>
          <div class="row" id="eventRow" *ngFor="let coolEvent of eventArray">
            <h3 id="eventTitle">
              {{ coolEvent }}
            </h3>
            <div
              class="row-2"
              *ngFor="
                let day of getEventList(coolEvent) | keyvalue;
                let i = index
              "
              style="padding-bottom: 2rem"
            >
              <div
                class="card"
                [class.eventCardImportant]="day.value.is_important_event"
              >
                <div class="card-body">
                  <app-event-sign-up-table
                    [slots]="day.value.slots"
                    [id]="day.value.slots[0].id"
                    [eventType]="coolEvent"
                    [volunteerList]="volunteerList"
                    (removeUserFromEvent)="removeUserFromEvent($event)"
                    (insertStaffNote)="insertStaffNote($event)"
                  >
                  </app-event-sign-up-table>
                </div>
                <div class="card-footer" *ngIf="day.value.slots[0].id != 'N/A'">
                  <img
                    class="img-important-event-true"
                    *ngIf="
                      day.value.is_important_event;
                      else importantEventFalse
                    "
                    src="assets/important-event-true.png"
                    width="30px"
                    style="margin-right: 1rem"
                    (click)="changeEventImportance(day.key, coolEvent)"
                    matTooltip="Click to mark this event as unimportant"
                  />
                  <ng-template #importantEventFalse>
                    <img
                      class="img-important-event-false"
                      src="assets/important-event-false.png"
                      width="30px"
                      style="margin-right: 1rem"
                      (click)="changeEventImportance(day.key, coolEvent)"
                      matTooltip="Click to mark this event as important"
                    />
                  </ng-template>
                  <app-event-note
                    date="{{ day.value.slots[0].event_date_txt }}"
                    [eventType]="coolEvent"
                    eventNote="{{ day.value.slots[0].event_note }}"
                    (updateEventNote)="
                      updateEventNote(day.value.slots[0].id, $event)
                    "
                    matTooltip="Click to view & edit the event note"
                  >
                  </app-event-note>
                  <mat-icon
                    id="shiftNote"
                    *ngIf="
                      day.value.slots[0].event_note != null &&
                      day.value.slots[0].event_note.length > 0
                    "
                    >announcement
                  </mat-icon>
                  <app-add-user-to-event></app-add-user-to-event>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Fifth Week Pane -->
        <div fifthPane>
          <div class="row" id="eventRow" *ngFor="let coolEvent of eventArray">
            <h3 id="eventTitle">
              {{ coolEvent }}
            </h3>
            <div
              class="row-2"
              *ngFor="
                let day of getEventList(coolEvent) | keyvalue;
                let i = index
              "
              style="padding-bottom: 2rem"
            >
              <div
                class="card"
                [class.eventCardImportant]="day.value.is_important_event"
              >
                <div class="card-body">
                  <app-event-sign-up-table
                    [slots]="day.value.slots"
                    [id]="day.value.slots[0].id"
                    [eventType]="coolEvent"
                    [volunteerList]="volunteerList"
                    (removeUserFromEvent)="removeUserFromEvent($event)"
                    (insertStaffNote)="insertStaffNote($event)"
                  >
                  </app-event-sign-up-table>
                </div>
                <div class="card-footer" *ngIf="day.value.slots[0].id != 'N/A'">
                  <img
                    class="img-important-event-true"
                    *ngIf="
                      day.value.is_important_event;
                      else importantEventFalse
                    "
                    src="assets/important-event-true.png"
                    width="30px"
                    style="margin-right: 1rem"
                    (click)="changeEventImportance(day.key, coolEvent)"
                    matTooltip="Click to mark this event as unimportant"
                  />
                  <ng-template #importantEventFalse>
                    <img
                      class="img-important-event-false"
                      src="assets/important-event-false.png"
                      width="30px"
                      style="margin-right: 1rem"
                      (click)="changeEventImportance(day.key, coolEvent)"
                      matTooltip="Click to mark this event as important"
                    />
                  </ng-template>
                  <app-event-note
                    date="{{ day.value.slots[0].event_date_txt }}"
                    [eventType]="coolEvent"
                    eventNote="{{ day.value.slots[0].event_note }}"
                    (updateEventNote)="
                      updateEventNote(day.value.slots[0].id, $event)
                    "
                    matTooltip="Click to view & edit the event note"
                  >
                  </app-event-note>
                  <mat-icon
                    id="shiftNote"
                    *ngIf="
                      day.value.slots[0].event_note != null &&
                      day.value.slots[0].event_note.length > 0
                    "
                    >announcement
                  </mat-icon>
                  <app-add-user-to-event></app-add-user-to-event>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-slider>
      <app-copyright-footer></app-copyright-footer>
    </div>
  </div>


  <ng-template #addSlot let-slotMessage>
    <div class="modal-header text-center" style="background-color: #35dc7b">
      <h4 class="modal-title w-100" id="modal-basic-title">Add a New Slot </h4>
      <button
        type="button"
        class="close"
        style="outline: none"
        aria-label="Close"
        (click)="slotMessage.dismiss()"
        #closeModal
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-center">
        You are about to add a permanent slot to this day's event. Is this action confirmed?
      </p>
    </div>
    <div class="footer">
      <button
        class="btn btn-xl btn-outline-danger"
        (click)="slotMessage.dismiss()"
        id="cancel"
      >
        Cancel
      </button>
      <button
        class="btn btn-xl ml-2 btn-outline-primary"
        (click)="addSlot(event)">
        Confirm
      </button>
    </div>
  </ng-template>
  

</html>
