<html>
  <div id="loaderBackground">
    <div class="loader" id="spinner"></div>
  </div>

  <div class="container-fluid" style="padding: 0">
    <div class="row" style="padding-top: 2rem; padding-bottom: 1rem">
      <div class="col" id="header" style="text-align: center">
        <img src="../../../assets/santropol-logo.png" alt="" id="logoSantrR" />
        <h1
          class="header-text"
          style="
            padding: 0.5rem;
            text-align: center;
            color: #60a4ff;
            margin-left: -68px;
          "
        >
          Volunteer Schedule
        </h1>
        <img src="../../../assets/McGillFACLogo.png" alt="" id="logoMcGill" />
      </div>
    </div>
    <div class="row weekTitle">
      <div class="col">
        <div class="card" style="margin-top: -16px; border-color: #60a4ff; border-radius: 0;">
          <div class="card-header" style="border-radius: 0; border: none;">
            <div class="row">
              <div class="col-8" style="text-align: center">
                <button
                  class="btn"
                  (click)="prevWeek()"
                  onclick="this.blur()"
                  *ngIf="currentWeek != 'first'"
                >
                  <mat-icon>arrow_back_ios</mat-icon>
                </button>
                {{ getWeekTitle() }}
                <button
                  class="btn"
                  (click)="nextWeek()"
                  onclick="this.blur()"
                  *ngIf="currentWeek != 'third'"
                >
                  <mat-icon>arrow_forward_ios</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shiftHeaders">
      <div style="display:flex; text-align: center;" *ngFor="let coolEvent of eventArray">
        <div *ngFor="let day of getEventListCool(coolEvent) | keyvalue">
          <div class="cardTitle"
            *ngIf="coolEvent == 'Kitchen AM'"
          >
          <span>
            {{ day.value.display_date | date: "EEEE, MMM d" }}
          </span>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- First Week Pane -->
    <div class="container-fluid">
      <app-slider [activePane]="currentWeek">
        <div firstPane>
          <div class="row" id="eventRow" *ngFor="let coolEvent of eventArray">
            <h3 id="eventTitle" *ngIf="currentWeek == 'first'">
              {{ coolEvent }}
            </h3>
            <div
              class="row-2"
              *ngFor="
                let day of getEventListCool(coolEvent) | keyvalue;
                let i = index
              "
              style="padding-bottom: 2rem"
            >
              <div
                class="card"
                [class.eventCardImportant]="day.value.is_important_event"
              >
                <div class="card-body">
                  <app-event-sign-up-table
                    [slots]="day.value.slots"
                    [id]="day.value.slots[0].id"
                    [eventType]="coolEvent"
                    (removeUserFromEvent)="removeUserFromEvent($event)"
                    (insertStaffNote)="insertStaffNote($event)"
                  >
                  </app-event-sign-up-table>
                </div>
                <div
                  class="card-footer"
                  style="
                    text-align: center;
                    height: 48px !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                  *ngIf="day.value.slots[0].id != 'N/A'"
                >
                  <img
                    class="img-important-event-true"
                    *ngIf="
                      day.value.is_important_event;
                      else importantEventFalse
                    "
                    src="assets/important-event-true.png"
                    width="30px"
                    style="margin-right: 1rem"
                    (click)="changeEventImportanceCool(day.key, coolEvent)"
                    matTooltip="Click to mark this event as unimportant"
                  />
                  <ng-template #importantEventFalse>
                    <img
                      class="img-important-event-false"
                      src="assets/important-event-false.png"
                      width="30px"
                      style="margin-right: 1rem"
                      (click)="changeEventImportanceCool(day.key, coolEvent)"
                      matTooltip="Click to mark this event as important"
                    />
                  </ng-template>
                  <app-event-note
                    date="{{ day.value.slots[0].event_date_txt }}"
                    [eventType]="coolEvent"
                    eventNote="{{ day.value.slots[0].event_note }}"
                    (updateEventNote)="
                      updateEventNote(day.value.slots[0].id, $event)
                    "
                    matTooltip="Click to view & edit the event note"
                  >
                  </app-event-note>
                  <mat-icon
                    style="
                      margin-left: 5px;
                      margin-top: -8px;
                      transform: scale(0.8);
                    "
                    *ngIf="
                      day.value.slots[0].event_note != null &&
                      day.value.slots[0].event_note.length > 0
                    "
                    >announcement
                  </mat-icon>
                  <app-add-user-to-event></app-add-user-to-event>
                </div>
              </div>
              <div *ngIf="coolEvent == 'Delivery'" style="height: 130px">
                <!-- empty div block used to add bottom padding extend to the schedule view, only used in last event type "Delivery" -->
              </div>
            </div>
          </div>
        </div>

        <!-- Second Week Pane -->
        <div secondPane>
          <div class="row" id="eventRow" *ngFor="let coolEvent of eventArray">
            <h3 id="eventTitle" *ngIf="currentWeek == 'second'">
              {{ coolEvent }}
            </h3>
            <div
              class="row-2"
              *ngFor="
                let day of getEventListCool(coolEvent) | keyvalue;
                let i = index
              "
              style="padding-bottom: 2rem; font-size: 15px"
            >
              <div
                class="card"
                [class.eventCardImportant]="day.value.is_important_event"
              >
                <div class="card-body">
                  <app-event-sign-up-table
                    [slots]="day.value.slots"
                    [id]="day.value.slots[0].id"
                    [eventType]="coolEvent"
                    (removeUserFromEvent)="removeUserFromEvent($event)"
                    (insertStaffNote)="insertStaffNote($event)"
                  >
                  </app-event-sign-up-table>
                </div>
                <div
                  class="card-footer"
                  style="
                    text-align: center;
                    height: 48px !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                  *ngIf="day.value.slots[0].id != 'N/A'"
                >
                  <img
                    class="img-important-event-true"
                    *ngIf="
                      day.value.is_important_event;
                      else importantEventFalse
                    "
                    src="assets/important-event-true.png"
                    width="30px"
                    style="margin-right: 1rem"
                    (click)="changeEventImportanceCool(day.key, coolEvent)"
                    matTooltip="Click to mark this event as unimportant"
                  />
                  <ng-template #importantEventFalse>
                    <img
                      class="img-important-event-false"
                      src="assets/important-event-false.png"
                      width="30px"
                      style="margin-right: 1rem"
                      (click)="changeEventImportanceCool(day.key, coolEvent)"
                      matTooltip="Click to mark this event as important"
                    />
                  </ng-template>

                  <app-event-note
                    date="{{ day.value.slots[0].event_date_txt }}"
                    [eventType]="coolEvent"
                    eventNote="{{ day.value.slots[0].event_note }}"
                    (updateEventNote)="
                      updateEventNote(day.value.slots[0].id, $event)
                    "
                    matTooltip="Click to view & edit the event note"
                  >
                  </app-event-note>
                  <mat-icon
                    style="
                      margin-left: 5px;
                      margin-top: -8px;
                      transform: scale(0.8);
                    "
                    *ngIf="
                      day.value.slots[0].event_note != null &&
                      day.value.slots[0].event_note.length > 0
                    "
                    >announcement
                  </mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Third Week Pane -->
        <div thirdPane>
          <div class="row" id="eventRow" *ngFor="let coolEvent of eventArray">
            <h3 id="eventTitle" *ngIf="currentWeek == 'third'">
              {{ coolEvent }}
            </h3>
            <div
              class="row-2"
              *ngFor="
                let day of getEventListCool(coolEvent) | keyvalue;
                let i = index
              "
              style="padding-bottom: 2rem"
            >
              <div
                class="card"
                [class.eventCardImportant]="day.value.is_important_event"
              >
                <div class="card-body">
                  <app-event-sign-up-table
                    [slots]="day.value.slots"
                    [id]="day.value.slots[0].id"
                    [eventType]="coolEvent"
                    (removeUserFromEvent)="removeUserFromEvent($event)"
                    (insertStaffNote)="insertStaffNote($event)"
                  >
                  </app-event-sign-up-table>
                </div>
                <div
                  class="card-footer"
                  style="
                    text-align: center;
                    height: 48px !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                  *ngIf="day.value.slots[0].id != 'N/A'"
                >
                  <img
                    class="img-important-event-true"
                    *ngIf="
                      day.value.is_important_event;
                      else importantEventFalse
                    "
                    src="assets/important-event-true.png"
                    width="30px"
                    style="margin-right: 1rem"
                    (click)="changeEventImportanceCool(day.key, coolEvent)"
                    matTooltip="Click to mark this event as unimportant"
                  />
                  <ng-template #importantEventFalse>
                    <img
                      class="img-important-event-false"
                      src="assets/important-event-false.png"
                      width="30px"
                      style="margin-right: 1rem"
                      (click)="changeEventImportanceCool(day.key, coolEvent)"
                      matTooltip="Click to mark this event as important"
                    />
                  </ng-template>
                  <app-event-note
                    date="{{ day.value.slots[0].event_date_txt }}"
                    [eventType]="coolEvent"
                    eventNote="{{ day.value.slots[0].event_note }}"
                    (updateEventNote)="
                      updateEventNote(day.value.slots[0].id, $event)
                    "
                    matTooltip="Click to view & edit the event note"
                  >
                  </app-event-note>
                  <mat-icon
                    style="
                      margin-left: 5px;
                      margin-top: -8px;
                      transform: scale(0.8);
                    "
                    *ngIf="
                      day.value.slots[0].event_note != null &&
                      day.value.slots[0].event_note.length > 0
                    "
                    >announcement
                  </mat-icon>
                  <app-add-user-to-event></app-add-user-to-event>
                </div>
              </div>
              <div *ngIf="coolEvent == 'Delivery'" style="height: 130px">
                <!-- empty div block used to add bottom padding extend to the schedule view, only used in last event type "Delivery" -->
              </div>
            </div>
          </div>
        </div>
      </app-slider>
      <div class="copyrightFooter">
        <h6 style="color: gray">Copyright © 2021 McGill Food Analytics Club</h6>
        <img
          src="../../../assets/McGillFACLogo.png"
          alt=""
          id="logoMcGillFoodAn"
        />
      </div>
    </div>
  </div>
</html>
