h4{
  position: absolute;
  left: 80%;
  top: 128px;
}

.userNote{
  width: 240px;
  height: 150px;
  position: absolute;
  left: 80%;
  top: 168px;
  border: 3px solid #449afe;
}

#editNoteBtn{
  position: absolute;
  left: 80%;
  top: 330px;
  height: 40px;
  width: 100px;
  background-color: #5fce99;
  color: white;
  border-radius: 10px;
  border: none;
}