::ng-deep .add-user .modal-dialog {
	max-width: 820px !important;
	width: 820px !important;
}

::ng-deep .passed-shift .modal-dialog {
	max-width: 600px !important;
	width: 600px !important; 
}

.modal-header {
	background-color: #5fce99;
	color: white;
}

.modal-body {
	padding: 1rem 2rem 0 2rem;
	padding-bottom: 2rem;
}

.form {
	padding-bottom: 1rem;
}

.form-section {
	margin-bottom: 1.5rem;
	color: darkgrey;
	margin-top: 1.5rem;
}

.search-volunteer {
	width: 45%;
	margin: auto;
	padding-top: 1rem;
}

.table-volunteers {
	height: 250px;
	overflow: auto;
	width: 100%;
}

.footer {
	padding-bottom: 2.5rem;
	text-align: center;
	align-items: center;
}

.mat-table {
	width: 90% !important;
	margin: auto;
}

.mat-header-row {
	width: 100%;
}

.mat-row {
	width: 100%;
}

.mat-row:hover{
	background-color: #c4edd9;
	cursor: pointer;
}

.mat-column-first_name {
	flex: 0 0 25% !important;
	min-width: 104px !important;
}

.mat-column-last_name {
	flex: 0 0 25% !important;
	min-width: 104px !important;
}

.mat-column-email {
	flex: 0 0 50% !important;
	min-width: 104px !important;
}

.mat-row.ng-star-inserted.active {
	background-color: #5fce99;
}

.mat-row.ng-star-inserted.active>.mat-cell {
	color: white;
}

body>ngb-modal-window>div>div>div.footer>button {
	color: #5fce99;
	border-color: #5fce99;
}

.btn-add-volunteer {
	color: #5fce99 !important;
	border-color: #5fce99 !important;
	position: relative;
	margin-right: 90px;
	left: 70px;
}

.btn-cancel {
	color: #dc3545 !important;
	border-color: #dc3545 !important;
}

.btn-cancel:hover {
	background-color: #dc3545 !important;
	color: white !important;
}

.btn-add-volunteer:hover {
	background-color: #5fce99 !important;
	color: white !important;
}

.fa {
	padding-right: 0.5rem;
}

#first-shift-check {
	position: relative;
	top: 3px;
	font-size: 15px;
	color: rgb(83, 83, 83);
}