.copyrightFooter {
  position: relative;
  text-align: center;
  left: 50%;
  margin-left: 110px;
  margin-right: -50%;
  transform: translate(-57%, 0);
  height: fit-content;
}

#logoMcGillFoodAn {
  max-width: 40px;
  margin-top: -60px;
  left: 190px;
  position: relative;
}