.copyrightFooter {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80px;
}

#logoMcGillFoodAn {
  max-width: 35px;
  margin-top: -8px;
  left: 10px;
  position: relative;
}