.copyrightFooter {
  position: relative;
  text-align: center;
  left: 50%;
  top: -12px;
  margin-left: 110px;
  margin-right: -50%;
  transform: translate(-57%, 0);
  height: fit-content;
}

#logoMcGillFoodAn {
  max-width: 35px;
  margin-top: -8px;
  left: 10px;
  position: relative;
}