::ng-deep .remove-volunteer .modal-dialog {
     max-width: 550px;
     width: 550px; 
}

.modal-header{
  background-color: #dc3545;
  color: white;
}

.modal-body{
  padding: 1rem 2rem 0 2rem;
  padding-top:2rem;
  padding-bottom:2rem;
}

.img-warning {
  margin-bottom:1rem;
  margin:auto;
}

.form{
  padding-bottom: 0;
}

.form-section{
  margin-bottom: 1.5rem;
  color: darkgrey;
  margin-top: 1.5rem;
}

.btn-cancel {
  margin-right:1rem;
  border: blue;
  color:blue;
}

.btn-remove-volunteer {
  color:white;
  background:#dc3545;
}

.close:focus {
  outline: none;
}

.btn-remove-volunteer:hover {
  background: #bb202f;
}

.footer{
  padding-bottom: 2.5rem;
  text-align: center;
}

[contenteditable] {
  border: 1px solid black;
  padding: 16px;
  white-space: pre-wrap;
  outline: 0;
  line-height: 30px;
  width: 455px;
  height: 150px;
  margin-left: 50px;
  margin-bottom: 20px;
  overflow-y: scroll;
  -webkit-user-select: text;
  user-select: text; 
}

[contenteditable]:focus {
  border: 3px solid red;
}

//class used for the button when view a user profile. Need to make font size bigger than normal
.btn-user-profile{
  font-size: 21px;
  background-color: rgb(218, 218, 218);
}

.btn-user-profile .trashIcon {
  transform: scale(1.45);
}

.img-warning {
  position: relative;
  left: 25px;
}

.cancellation-type {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  position: relative;
  top: -43px;
  left: 210px;
  height: 50px;
  font-size: 14px;
}

.example-radio-button {
  margin: 5px;
}