<ng-container></ng-container>
<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">Add User</h4>
  <button type="button"
          class="close"
          aria-describedby="modal-title"
          (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form"
        (ngSubmit)="save()">

    <div class="form-group">
        <label>Full Name</label>
        <input type="string"
                formControlName="displayName"
                class="form-control">
    </div>

    <div class="form-group">
      <label>Email*</label>
      <input type="email"
             formControlName="email"
             class="form-control">
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input type="phoneNumber"
               formControlName="phoneNumber"
               class="form-control">
      </div>

    <div class="form-group">
      <label>Role*</label>
      <select class="custom-select"
              formControlName="role">
        <option value="admin">Admin</option>
        <option value="staff">Staff</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-outline-danger"
          (click)="dismiss()">Cancel</button>
  <button type="button"
          class="btn btn-primary"
          (click)="save()" [disabled]="form.invalid">Add</button>
</div>


                    <!--
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                               placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                          Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    -->