<html>
  <!-- Page title -->
  <div class="page-title">
    <h1>Volunteer Directory</h1>
  </div>
  <!-- Search container -->
  <div class="container-search">
    <mat-form-field class="volunteer-search">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <app-new-user></app-new-user>
  </div>
  <!-- Volunteer table -->

  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
  <td mat-cell *matCellDef="let row" >
    <button mat-button >Edit</button>
  </td>
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of displayedColumns"
    >
    
      <th mat-header-cell *matHeaderCellDef>{{ prettify(column) }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      
    </ng-container>
    <!-- Expanded Element Content - The detail row is made up of this one column that spans across all columns -->

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
      ></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="element-row"
      [routerLink]="['/volunteer', element.id]"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr>
  </table>
  <mat-paginator
    #paginator
    id="paginator"
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
  ></mat-paginator>
  <div class="copyrightFooter">
    <h6 style="color: gray">Copyright © 2021 McGill Food Analytics Club</h6>
    <img src="../../../assets/McGillFACLogo.png" alt="" id="logoMcGillFoodAn"/>
  </div>
</html>
