.mat-table {
    width: 100% !important;
    margin: auto;
}

app-add-user-to-event {
    cursor: pointer;
    float: right;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 5px;
}

.menu:focus {
	outline: none;
}

.table-row[isEmpty='true']:hover {
  background-color:#dfe0df;
  cursor: pointer;
}

#noteBtn{
  width: 1px;
  height: 1px;
  z-index: -10px;
  position: fixed;
  margin-top: -35px;
  margin-left: -7px;
  opacity: 1%;
  border: 2px;
}

.menu:hover{
  background-color: lightgrey;
}

.emptyBlockKitchenAM{
  min-height: 48px;
  width: 13vw;
  position: absolute;
  left: 0px;
  top: 103px;
  align-items: center; 
  background-color: lightgrey;
}

.emptyBlock{
  min-height: 48px;
  width: 13vw;
  position: absolute;
  left: 0px;
  top: 57px;
  align-items: center; 
  background-color: lightgrey;
}