.mat-table {
  width: 100% !important;
  margin: auto;
}

app-add-user-to-event {
  cursor: pointer;
  float: right;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 5px;
}

.menu:focus {
  outline: none;
}

.table-row[isEmpty="true"]:hover {
  background-color: #d7e6f8f6;
  cursor: pointer;
}

#note-component {
  width: 1px;
  height: 1px;
  z-index: -10px;
  position: fixed;
  margin-top: -35px;
  margin-left: -7px;
  opacity: 1%;
  border: 2px;
}

.menu:hover {
  background-color: lightgrey;
}

.firstShift {
  background-color: rgb(163, 250, 163);
}

.emptyBlock {
  min-height: 48px;
  width: 12vw;
  position: absolute;
  left: 0px;
  top: 56px;
  align-items: center;
  background-color: #e8e8e8;
}

#note-btn {
  margin-bottom: 15px;
  width: 12px;
  height: 1px;
  border: none;
  transform: scale(0.78);
  background: none;
}

.box {
  display: flex;
  align-items:center;
  font-size: 0.75vw !important; 
  margin-left: -6px;
}