<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  <!-- Volunteer Column -->
  <ng-container matColumnDef="volunteer">
    <div *ngIf="id == 'N/A'">
      <!-- Empty cell used for Thursdays -->
      <th mat-header-cell *matHeaderCellDef>No Event</th>
    </div>
    <th mat-header-cell *matHeaderCellDef>Volunteer</th>
    <td
      mat-cell
      *matCellDef="let element"
      [class.firstShift]="element.first_shift"
    >
      <div
        #emptyOther
        class="emptyBlock"
        *ngIf="id == 'N/A'; else shortNote"
      ></div>

      <!-- Slot as a short staff note -->
      <div
        #shortNote
        class="box"
        *ngIf="
          element.staff_note != null &&
            element.staff_note.length > 0 &&
            element.staff_note.length < 20;
          else noNote
        "
      >
        {{ element.first_name }} {{ element.last_name }} ({{
          element.staff_note
        }})<mat-icon *ngIf="element.is_late" id="late-icon"
          >alarm</mat-icon
        >
      </div>

      <!-- Slot has no staff note -->
      <ng-template #noNote>
        <div
          class="box"
          *ngIf="
            element.staff_note == null || element.staff_note.length == 0;
            else longNote
          "
        >
          {{ element.first_name }} {{ element.last_name }}
          <mat-icon *ngIf="element.is_late" id="late-icon">
            alarm
          </mat-icon>
        </div>

        <!-- Slot has long staff note -->
        <ng-template #longNote>
          <div class="box">
            {{ element.first_name }} {{ element.last_name }}
            <mat-icon *ngIf="element.is_late" id="late-icon">
              alarm
            </mat-icon>
            <button
              matTooltip="Click to view note"
              onclick="this.blur()"
              id="note-btn"
            >
              <mat-icon style="margin-left: -4px; vertical-align: middle; z-index: 100;"
                >chat</mat-icon
              >
              <app-staff-note
                id="note-component"
                firstName="{{ element.first_name }}"
                lastName="{{ element.last_name }}"
                date="{{ element.event_date_txt }}"
                [eventType]="eventType"
                staffNote="{{ element.staff_note }}"
                (insertStaffNote)="onInsertStaffNote(element.id, $event)"
              >
              </app-staff-note>
            </button>
          </div>
        </ng-template>
      </ng-template></td
  ></ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td
      mat-cell
      *matCellDef="let element"
      [class.firstShift]="element.first_shift"
    >
      <button
        class="menu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        #MenuTrigger="matMenuTrigger"
        matTooltip="Click to view options"
        *ngIf="!isEmpty(element.first_name, element.last_name)"
        style="
          float: right;
          transform: scale(0.87);
          margin-right: -10px;
          background: none;
        "
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          style="outline: none"
          (click)="markAsLate(element.id)"
        >
          <mat-icon>alarm</mat-icon>
          Mark/Unmark as late
        </button>
        <app-remove-user-from-event
          firstName="{{ element.first_name }}"
          eventId="{{ element.id }}"
          userId="{{ element.uid }}"
          lastName="{{ element.last_name }}"
          date="{{ element.event_date_txt }}"
          [eventType]="eventType"
          (confirmRemove)="onRemoveUserFromEvent(element.id)"
        >
        </app-remove-user-from-event>
        <app-staff-note
          firstName="{{ element.first_name }}"
          lastName="{{ element.last_name }}"
          date="{{ element.event_date_txt }}"
          [eventType]="eventType"
          staffNote="{{ element.staff_note }}"
          (insertStaffNote)="onInsertStaffNote(element.id, $event)"
        >
        </app-staff-note>
        <button
          mat-menu-item
          [routerLink]="['/volunteer', element.uid]"
          style="outline: none"
        >
          <mat-icon>person</mat-icon>
          <span>View Volunteer</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="table-row"
    [attr.isEmpty]="isEmpty(row.first_name, row.last_name, id)"
    (click)="
      isEmpty(row.first_name, row.last_name, id) && openAddUserModal(row)
    "
  ></tr>
</table>

<!-- User marked as late warning -->
<!-- <ng-template #markAsLateWindow let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title w-100">Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" #closeModal>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <h6>has been marked as late.</h6>
  </div>
</ng-template> -->
