<ng-template #addPermanentModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title w-100">
      <i class="fa fa-map-marker"></i>Permanent Volunteer
    </h4>
    <button
      style="outline: none;"
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
      #closeModal
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-center">
    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="addPermanentForm">
      <div class="form-row mb-12">
        <div class="form-group col-md-12" style="margin-bottom: 1rem">
          Add Permanent Volunteer Fields:
        </div>
      </div>
      <div class="form-row mb-12">
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Existing Volunteer</mat-label>
            <mat-select
              formControlName="volunteer"
              [(ngModel)]="model.volunteer"
            >
              <mat-option disabled>--Select the volunteer--</mat-option>
              <input class="filter" placeholder ="Search by Name" (keyup)="onKey($event.target.value)" size ="35.5" style="height: 40px;">

              <mat-option
                *ngFor="let volunteer of volunteers"
                [value]="[
                  volunteer.id,
                  volunteer.first_name,
                  volunteer.last_name
                ]"
              >
                {{ volunteer.first_name }} {{ volunteer.last_name }}
              </mat-option>
            </mat-select>
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Frequency</mat-label>
            <mat-select
              formControlName="frequency"
              [(ngModel)]="model.frequency"
            >
              <mat-option disabled>--Select the frequency--</mat-option>
              <mat-option [value]="1"> Weekly </mat-option>
              <mat-option [value]="2"> Biweekly </mat-option>
              <mat-option [value]="3"> Triweekly </mat-option>
              <mat-option [value]="4"> Monthly </mat-option>
            </mat-select>
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Event Type</mat-label>
            <mat-select
              formControlName="eventType"
              [(ngModel)]="model.eventType"
            >
              <mat-option disabled>--Select the event type--</mat-option>
              <mat-option [value]="'kitam'"> Kitchen AM </mat-option>
              <mat-option [value]="'kitpm'"> Kitchen PM </mat-option>
              <mat-option [value]="'deldr'"> Delivery Driver </mat-option>
              <mat-option [value]="'deliv'"> Delivery </mat-option>
            </mat-select>
            <mat-error>Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              [min]="today"
              [max]="dateInThreeMonths"
              placeholder="mm/dd/yyyy"
              formControlName="startDate"
              [(ngModel)]="model.startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="startDateRequiredError()">Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>End Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [min]="today"
              [max]="dateInThreeMonths"
              placeholder="mm/dd/yyyy"
              formControlName="endDate"
              [(ngModel)]="model.endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="endDateRequiredError()">Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Note</mat-label>
            <input
              matInput
              formControlName="note"
              [(ngModel)]="model.note"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
    <button
      type="submit"
      class="btn btn-xl btn-outline-success btn-change-registration-code"
      (click)="onSubmit('add', shiftNotAdded); open(addingToShifts, 'loading-screen')"
    >
      Add Permanent Volunteer
    </button>
  </div>
</ng-template>

<ng-template #shiftNotAdded let-modal2>
  <div class="modal-header text-center" style="background-color: #dc3545">
    <h4 class="modal-title w-100" id="modal-basic-title">Warning!</h4>
    <button
      type="button"
      class="close"
      style="outline: none"
      aria-label="Close"
      (click)="modal2.dismiss()"
      #closeModal
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>
      <b>{{ user.volunteer[1] }} {{ user.volunteer[2] }}</b> could not be added
      to the following shift(s) because they are full:
    </h5>
    <table
      mat-table
      [dataSource]="shiftsNotAdded"
      class="mat-elevation-z8"
      style="width: 100%"
    >
      <ng-container matColumnDef="shiftType">
        <th mat-header-cell *matHeaderCellDef>Shift</th>
        <td mat-cell *matCellDef="let element">{{ getShift(element) }}</td>
      </ng-container>

      <ng-container matColumnDef="shiftDate">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ getDate(element) }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="footer">
    <button
      class="btn btn-xl btn-outline-danger btn-cancel"
      (click)="modal2.dismiss()"
    >
      Dismiss
    </button>
  </div>
</ng-template>

<ng-template #addingToShifts>
  <div style="height: 40px;">
    <h6 style="margin-top: 8px; margin-left: 15px;">
      Adding volunteer to shifts. This may take a while please wait...
    </h6>
  </div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<button mat-menu-item (click)="open(addPermanentModal, 'permanent-volunteer')">
  <mat-icon>alarm</mat-icon>
  <span>Add Permanent Volunteer</span>
</button>
