<html>
  <ng-template #content let-modal>
    <div class="modal-header text-center">
      <h4 class="modal-title w-100" id="modal-basic-title">
        Volunteer's Past and Upcoming Shifts
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        style="outline: none"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- 2 tabs avec chacune un mat table des events (soit past soit current) -->
      <mat-tab-group>
        <mat-tab label="Future Shifts">
          <h2 id="no_event" *ngIf="currentEventsUser.length == 0">
            This volunteer doesn't have any upcoming shifts!
          </h2>
          <table class="table" *ngIf="currentEventsUser.length != 0">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <!-- Empty columns to space out information -->
                <th scope="col"></th>
                <th scope="col">Type</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of currentEventsUser">
                <td>{{ event.event_date_txt }}</td>
                <td></td>
                <!-- Empty columns to space out information -->
                <td></td>
                <td>{{ formatEventType(event.event_type) }}</td>
                <td></td>
                <td>
                  <div style="height: 40px; overflow: hidden">
                    <button
                      class="removeVolBtn"
                      onclick="this.blur()"
                      style="background-color: rgb(218, 218, 218)"
                    >
                      <app-remove-user-from-event
                        firstName="{{ element.first_name }}"
                        eventId="{{ event.id }}"
                        userId="{{ userId }}"
                        lastName="{{ element.last_name }}"
                        date="{{ event.event_date_txt }}"
                        eventType="{{ eventTypes[event.event_type] }}"
                        isUserProfile="true"
                        (confirmRemove)="onRemoveUserFromEvent(event.id)"
                      >
                      </app-remove-user-from-event>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Past Shifts">
          <h2 id="no_event" *ngIf="pastEventsUser.length == 0">
            This volunteer doesn't have any past shifts!
          </h2>
          <table class="table" *ngIf="pastEventsUser.length != 0">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of pastEventsUser">
                <td>{{ event.event_date_txt }}</td>
                <td>{{ formatEventType(event.event_type) }}</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-template>

  <div class="modal-body profile" *ngIf="validId">
    <table class="table">
      <tbody>
        <div *ngIf="element">
          <h4>{{ element.first_name }} {{ element.last_name }}</h4>
          <div
            class="status"
            *ngIf="element.active_status || element.active_status == null"
          >
            Active
          </div>
          <div class="status" *ngIf="element.active_status == false">
            Inactive
          </div>
        </div>

        <input
          class="apple-switch"
          id="statusCheck"
          (click)="changeActiveStatus()"
          type="checkbox"
          matTooltip="Toggle volunteer's active status"
        />
        <button
          mat-menu-item
          (click)="open(content)"
          onclick="this.blur()"
          id="historyBtn"
        >
          <mat-icon style="margin-left: -10px; transform: scale(0.8)"
            >history</mat-icon
          >
          <span style="margin-left: -5%">View Shifts</span>
        </button>

        <div class="editProfile">
          <button
            id="editBtn"
            mat-menu-item
            (click)="openEditForm()"
            onclick="this.blur()"
          >
            <mat-icon style="margin-left: -10px; transform: scale(0.8)"
              >edit</mat-icon
            >
            <span style="margin-left: -5%">Edit Profile</span>
          </button>
          <div *ngIf="displayForm">
            <form
              name="editForm"
              class="form"
              (ngSubmit)="onSave()"
              *ngIf="myForm"
              [formGroup]="myForm"
            >
              <input
                id="editInputEmail"
                email="true"
                type="email"
                formControlName="email"
                required
              />
              <div class="input-group">
                <input
                  id="editInputAddrNum"
                  formControlName="address_number"
                  placeholder="Number"
                  required
                />
                <input
                  id="editInputAddrStr"
                  formControlName="address_street"
                  placeholder="Street"
                  required
                />
                <input
                  id="editInputAddrCity"
                  formControlName="address_city"
                  placeholder="City"
                  required
                />
                <input
                  id="editInputPostal"
                  formControlName="address_postal_code"
                  placeholder="Postal code"
                  required
                />
              </div>
              <input
                [matDatepicker]="picker"
                [max]="today"
                id="editDate"
                formControlName="dob"
                placeholder="mm/dd/yyyy"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
                id="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <input
                ng-model="name"
                id="editInputPhone"
                formControlName="phone_number"
                required
              />
              <mat-label
                id="phoneNumErrorMsg"
                *ngIf="myForm.get('phone_number').invalid"
                >*Invalid phone number. Should be 10 digits only.
              </mat-label>

              <div class="input-group group2">
                <input
                  id="editInputEmergName"
                  formControlName="emergency_contact_name"
                  placeholder="Contact Name"
                />

                <input
                  id="editInputEmergRel"
                  formControlName="emergency_relationship"
                  placeholder="Emergency Relationship"
                />
              </div>

              <input
                id="editInputEmergNum"
                formControlName="emergency_contact_number"
                type="tel"
              />
            </form>
            <button
              class="button"
              mat-menu-item
              (click)="onSave()"
              type="submit"
              id="saveBtn"
            >
              <mat-icon style="margin-left: -8px">save</mat-icon>
              <span>Save</span>
            </button>
          </div>
        </div>
        <button class="btn-delete-user" (click)="openWarning()">
          Delete User
        </button>

        <tr>
          <td id="colored">
            <mat-icon>account_box</mat-icon>
            <pre>User ID:<span id="info-field">{{ userId }}</span> </pre>
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon>how_to_reg</mat-icon>
            <pre>Registered Since:<span id="info-field">{{ (formatSignupDate(element.signup_date)) }}</span> </pre>
          </td>
        </tr>
        <tr>
          <td id="colored">
            <mat-icon>email</mat-icon>
            <pre>Email:<span id="info-field" *ngIf="!displayForm">{{ element.email }} </span></pre>
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon>home</mat-icon>
            <pre>
Address:<span id="info-field" *ngIf="!displayForm">{{element.address_number }} {{element.address_street}}, {{ element.address_city }}, {{ element.address_postal_code }}</span></pre>
          </td>
        </tr>
        <tr>
          <td id="colored">
            <mat-icon>cake</mat-icon>
            <pre>
 Date of Birth:<span id="info-field" *ngIf="!displayForm">{{formatDate(element.dob)}}</span></pre>
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon>phone_android</mat-icon>
            <pre>
Phone Number:<span id="info-field" *ngIf="!displayForm">{{prettifyNumber(element.phone_number)}}</span></pre>
          </td>
        </tr>
        <tr>
          <td id="colored">
            <mat-icon>local_hospital</mat-icon>
            <pre>
 Emergency Contact:<span id="info-field" *ngIf="!displayForm">{{ emergency(element) }}</span></pre>
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon>perm_device_information</mat-icon>
            <pre>
Emergency Contact Phone:<span id="info-field" *ngIf="!displayForm">{{ prettifyNumber(element.emergency_contact_number) }}</span></pre>
          </td>
        </tr>
      </tbody>
    </table>

    <app-user-note [userId]="userId"></app-user-note>

    <div class="cancellation">
      <h5>Cancellations: {{ valid(element.cancellations) }}</h5>
      <div id="scrollable-area" *ngIf="cancelledEventsUser.length != 0">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Shift Id</th>
              <th scope="col">Reason of Cancellation</th>
            </tr>
          </thead>
          <tbody>
            <tr
              style="font-size: 15px"
              *ngFor="let event of cancelledEventsUser"
            >
              <td>{{ formatEventDate(event.event_id) }}</td>
              <td>{{ formatEventId(event.event_id) }}</td>
              <td>{{ event.reason }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        *ngIf="cancelledEventsUser.length == 0"
        style="margin-bottom: 130px; width: 53.8vw; height: 194px"
      ></div>
    </div>
  </div>

  <ng-template #deleteUser let-modal2>
    <div
      class="modal-header text-center"
      style="background-color: #dc3545; color: white"
    >
      <h4 class="modal-title w-100" id="modal-basic-title">Warning!</h4>
      <button
        type="button"
        class="close"
        style="outline: none"
        aria-label="Close"
        (click)="modal2.dismiss()"
        #closeModal
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4 style="margin-left: 30px">
        Are you sure you want to delete this user? This action cannot be undone!
      </h4>
    </div>
    <div class="footer">
      <button
        class="btn btn-xl btn-outline-danger btn-cancel"
        (click)="modal2.dismiss()"
      >
        Cancel
      </button>
      <button class="btn btn-xl btn-outline-danger" (click)="onDelete()">
        Delete
      </button>
    </div>
  </ng-template>

  <div class="userIdNull" *ngIf="!validId">
    <h4 style="position: absolute; left: 40%; top: 20%">
      This user does not exists!
    </h4>
  </div>

 <app-copyright-footer></app-copyright-footer>
</html>
