#no_event {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;

}

h4 {
  margin: 0;
  display: inline-block;
}

h5{
  color: red;
}
.mat-icon{
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 20px;
}

#title{
  font-size: 200px;
}

td{
  font-size: 18px;

}

tr{
  white-space: pre;
}


#profile{
  width: 1000px;
}

#colored{
  background-color:lightgray;
}

#historyBtn{
  width: 180px;
  float: right;
  text-align: center;
  font-size: 18px;
  margin-left: 50px;
  color: white;
  background-color: #449afe;
}

pre{
  display: inline;
  font-family: inherit;
  font-size: 18px;
}