<ng-template #content let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title w-100" id="modal-basic-title">
      Volunteer's Past and Upcoming Events
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- 2 tabs avec chacune un mat table des events (soit past soit current) -->
    <mat-tab-group>
      <mat-tab label="Past Events">
        <h2 id="no_event" *ngIf="pastEventsUser.length == 0">
          This volunteer doesn't have any past events!
        </h2>

        <table class="table" *ngIf="pastEventsUser.length != 0">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of pastEventsUser">
              <td>{{ event.event_date_txt }}</td>
              <td>{{ event.event_type }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>

      <mat-tab label="Current Events">
        <h2 id="no_event" *ngIf="currentEventsUser.length == 0">
          This volunteer doesn't have any coming events!
        </h2>

        <table class="table" *ngIf="currentEventsUser.length != 0">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of currentEventsUser">
              <td>{{ event.event_date_txt }}</td>
              <td>{{ event.event_type }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>

<ng-template #content2 let-modal2>
  <section class="editProfile">
    <form
      name="editForm"
      class="form"
      (ngSubmit)="onSave()"
      *ngIf="myForm"
      [formGroup]="myForm"
    >
      <input
        value="{{ element.email }}"
        id="editInput1"
        email="true"
        formControlName="email"
        [(ngModel)]="model.email"
        required
      />

      <input
        value="{{ element.address_number }}"
        id="editInput2"
        formControlName="address_number"
        [(ngModel)]="model.address_number"
        required
      />

      <input
        value="{{ element.address_street }}"
        id="editInput3"
        formControlName="address_street"
        [(ngModel)]="model.address_street"
        required
      />

      <input
        value="{{ element.address_city }}"
        id="editInput4"
        formControlName="address_city"
        [(ngModel)]="model.address_city"
        required
      />

      <input
        value="{{ element.address_postal_code }}"
        id="editInput5"
        formControlName="address_postal_code"
        [(ngModel)]="model.address_postal_code"
        required
      />

      <input
        [matDatepicker]="picker"
        [max]="today"
        id="editDate"
        formControlName="dob"
        [(ngModel)]="model.dob"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"
        id="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>

     
      <input
        ng-model="name"
        id="editInput6"
        value="{{ element.phone_number }}"
        [(ngModel)]="model.phone_number"
        formControlName="phone_number"
        required
      />
      
      <input
        value="{{ element.emergency_contact_name }}"
        id="editInput7"
        [(ngModel)]="model.emergency_contact_name"
        formControlName="emergency_contact_name"
        required
      />

      <input
        value="{{ element.emergency_relationship }}"
        id="editInput8"
        formControlName="emergency_relationship"
        [(ngModel)]="model.emergency_relationship"
        required
      />

      <input
        value="{{ element.emergency_contact_number }}"
        id="editInput9"
        formControlName="emergency_contact_number"
        [(ngModel)]="model.emergency_contact_number"
        required
      />
    </form>
  </section>

  <button mat-menu-item (click)="onSave()" type="submit" id="saveBtn">
    <mat-icon>save</mat-icon>
    <span>Save</span>
  </button>
</ng-template>

<div class="modal-body" id="profile">
  <table class="table">
    <tbody>
      <h4>{{ element.first_name }} {{ element.last_name }}</h4>
      <button
        mat-menu-item
        (click)="open(content)"
        onclick="this.blur()"
        id="historyBtn"
      >
        <mat-icon>history</mat-icon>
        <span>View Events</span>
      </button>
      <button
        mat-menu-item
        (click)="open(content2)"
        onclick="this.blur()"
        id="editBtn"
      >
        <mat-icon>edit</mat-icon>
        <span>Edit Profile</span>
      </button>
      <tr>
        <td id="colored">
          <mat-icon>account_box</mat-icon>
          <pre>User ID:<text>{{ userId }}</text> </pre>
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon>email</mat-icon>
          <pre>Email:<text>{{ element.email }} </text></pre>
        </td>
      </tr>
      <tr>
        <td id="colored">
          <mat-icon>home</mat-icon>
          <pre>
Address:<text>{{element.address_number }} {{element.address_street}}, {{ element.address_city }}, {{ element.address_postal_code }}</text></pre>
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon>cake</mat-icon>
          <pre>
 Date of Birth:<text >{{formatDate(element.dob)}}</text></pre>
        </td>
      </tr>
      <tr>
        <td id="colored">
          <mat-icon>phone_android</mat-icon>
          <pre>
Phone Number:<text>{{prettifyNumber(element.phone_number)}}</text></pre>
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon>local_hospital</mat-icon>
          <pre>
 Emergency Contact:<text>{{ emergency(element) }}</text></pre>
        </td>
      </tr>
      <tr>
        <td id="colored">
          <mat-icon>perm_device_information</mat-icon>
          <pre>
Emergency Number:<text>{{ prettifyNumber(element.emergency_contact_number) }}</text></pre>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>

  <h5>Cancellations: {{ valid(element.cancellations) }}</h5>

  <table class="table" *ngIf="cancelledEventsUser.length != 0">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Event Id</th>
        <th scope="col">Reason of Cancellation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of cancelledEventsUser">
        <td>{{ event.event_id }}</td>
        <td>{{ event.reason }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <button mat-menu-item (click)="open(content)" id="historyBtn">
  <mat-icon>history</mat-icon>
  <span>View Events</span>
</button> -->
