<ng-sidebar-container>
	<!-- A sidebar -->
	<!-- <ng-sidebar [(opened)]="opened" [closeOnClickOutside]="closeOnClickOutside" [showBackdrop]="showBackdrop">
		<p>Sidebar contents</p>
		<p><a closeSidebar>This will close the sidebar too</a></p>
			<div class="row">
				<i class="fa fa-user-plus"></i> Add Volunteer
			</div>
			<div class="row">
				<i class="fa fa-edit"></i> Change Registration Code
			</div>
	</ng-sidebar>  -->

	<!-- Page content -->
	<div ng-sidebar-content>
		<div class="row">
			<div class="col-md-3 offset-md-5">
				<button (click)="toggleSidebar()">Toggle sidebar</button>
			</div>
		</div>
		<div class="container-page" style="background-image:url('../assets/santropol-background.jpg'); height:100vh; background-repeat: no-repeat; background-size: 100% 100%;">
			<div class="container">
				<div class="row" style="padding-top: 2rem; padding-bottom: 2rem">
					<div class="col">
						<h1 class="header-text" style="padding:0.5rem; text-align: center; color: #8f327a">
							<img heigth="75px" width="75px" src="../assets/santropol-logo.png">&nbsp;
							Santropol Roulant Staffend
						</h1>
					</div>
				</div>
				<div class="row">
				  <div class="col-4">
						<div class="card" style="text-align:center;">
		      		<div class="card-body">
		        		<h5 class="card-title text-center"><i class="fa fa-user-plus"></i>&nbsp; Create New Volunteer</h5>
		        		<p class="card-text">Please use this form to insert a new volunteer in the database.</p>
								<app-new-user></app-new-user>
							</div>
		      	</div>
					</div>
				  <div class="col-4">
						<div class="card" style="text-align:center">
		      		<div class="card-body">
		        		<h5 class="card-title text-center"><i class="fa fa-edit"></i>&nbsp;&nbsp;Change Registration Code</h5>
		        		<p class="card-text">Please use this form to change the registration code.</p>
								<app-change-registration-code></app-change-registration-code>
							</div>
		      	</div>
					</div>
				  <div class="col-4">
						<div class="card" style="text-align:center">
		      		<div class="card-body">
		        		<h5 class="card-title text-center"><i class="fa fa-exclamation"></i>&nbsp;&nbsp;Mark Important Event</h5>
		        		<p class="card-text">Please use this form to mark an event as important.</p>
								<app-mark-important-event></app-mark-important-event>
							</div>
		      	</div>
					</div>
				</div>
				<div class="row" style="padding-top:2rem">
					<div class="col-4">
						<div class="card" style="text-align:center">
							<div class="card-body">
								<h5 class="card-title text-center"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Volunteers</h5>
								<p class="card-text">Click this button to search through volunteers and performs actions on them.</p>
								<button type="button" class="btn btn-lg btn-outline-info" routerLink="/app-user-list">
									View Volunteers:
								</button>
							</div>
						</div>
					</div>
					<div class="col-4">
		        <div class="card" style="text-align:center">
							<div class="card-body">
								<h5 class="card-title text-center"><i class="fa fa-eye"></i>&nbsp;&nbsp;Sign Up Sheet</h5>
								<p class="card-text">Click to view the sign up sheet.</p>
								<button routerLink="/volunteer-schedule">Sign Up Sheet</button>
							</div>
					</div>
				</div>


			</div>

		</div>
		</div>
	</div>
</ng-sidebar-container>
