<ng-template #content let-modal>
<div class="modal-header text-center">
  <h4 class="modal-title w-100" id="modal-basic-title">Confirm Removal</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" #closeModal>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="padding-top:2rem; padding-bottom:2rem;">
  <div class="row">
    <div class="col-3">
      <img src="assets/warning.png" width=80px style="margin-bottom:1rem;marin:auto">
    </div>
    <div class="col-9">
        <div> You are about to remove <b> {{ firstName }} {{lastName}} </b> from the <b> Kitchen AM</b> event on <b> {{ date }}</b>. <br /> <br /> Are you sure?<b> This cannot be undone! </b></div>
    </div>
  </div>
  <!-- <img src="assets/warning.png" width=100px style="margin-bottom:1rem;">
  <div> You are about to remove <b> Alexa Hernandez </b> from the <b> Kitchen AM</b> event on <b> Monday, November 13th, 2019</b>. <br /> <br /> Are you sure?<b> This cannot be undone! </b></div> -->
</div>
<div class="footer">
    <button type="button" class="btn btn-xl btn-outline-danger" (click)="modal.dismiss()" style="margin-right:1rem;">Cancel</button>
    <button type="submit" class="btn btn-xl btn-outline-danger" (click)="onSubmit()" style="color:white; background:#dc3545">Remove Volunteer</button>
</div>
</ng-template>


<img src="assets/push-pin-unfilled.png" width=35px (click)="open(content)">
